<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import CalComponent from "./components/CalComponent.vue";
import HelloWorld from "./components/HelloWorld.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ConditionalsAndLoops from "./components/ConditionalsAndLoops.vue";
import FormBindings from "./components/FormBindings.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent />
    <br />
    <br />
    <FormBindings />
    <br />
    <br />
    <ConditionalsAndLoops />
    <br />
    <br />
    <AttributeBindings />
    <HandlingUserInput />
    <CalComponent />
    <HelloWorldExample />
  </div>
</template>

<style scoped></style>
